.movie-list{
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-items: center;
}

.App {
  text-align: center;
}

.movie-card{
  padding-top: 25px;
}

/* .des{
  padding-left: 700px;
} */